<a href="https://colab.research.google.com/github/denis-mwangi/PYTHON-Assignments/blob/main/Data_Types_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1
-    Checking data types

In [ ]:
# Define a float
y = 1.
print(y)
print(type(y))

# Convert float to integer with the int function
z = int(y)
print(z)
print(type(z))

1.0
<class 'float'>
1
<class 'int'>

# Question 2

In [ ]:
print(int(1.2321))
print(int(1.747))
print(int(-3.94535))
print(int(-2.19774))

1
1
-3
-2

Negative floats are always rounded UP to the closest integer (for instance, both -1.1 and -1.9 are rounded up to -1). Positive floats are always rounded DOWN to the closest integer (for instance, 2.1 and 2.9 are rounded down to 2).

# Question 3

In [ ]:
print(3 * True)
print(-3.1 * True)
print(type("abc" * False))
print(len("abc" * False))

When you multiple an integer or float by a boolean with value True, it just returns that same integer or float (and is equivalent to multiplying by 1). If you multiply an integer or float by a boolean with value False, it always returns 0. This is true for both positive and negative numbers. If you multiply a string by a boolean with value True, it just returns that same string. And if you multiply a string by a boolean with value False, it returns an empty string (or a string with length zero).

# Question 4
**Pseudo code**


---


A function that estimates the value of a house that has bedrooms,
bathrooms and basement
1.  We create a function `get_expected_cost(beds, baths, has_basement)`.
2.  We create a variable value that calculates the value of the house.
      - The expected value of a house with 0 bedrooms, 0 bathrooms and has no basement is $80000.
      - each bedroom adds 30000 to the expected cost,
      - each bathroom adds 10000 to the expected cost, and
      - a basement adds 40000 to the expected cost.
3.  We return value
4.  Create a variable `estimated_cost` that calls the function `get_expected_cost` with all the aguments.
5.  Print the total cost.


---
**Test Data**
- a house with 2 bedrooms, 1 bathroom, and a basement has an expected cost of 80000 + 2*30000 + 10000 + 40000 = 190000.
- a house with 1 bedroom, 1 bathroom, and no basement has an expected cost of 80000 + 30000 + 10000 = 120000.

In [ ]:
def get_expected_cost(beds, baths, has_basement):
    value = 80000 + 30000 * beds + 10000 * baths + 40000 * has_basement
    return value
estimated_value = get_expected_cost(2, 1, True)
print(f"The total cost of this house is ${estimated_value}")

The total cost of this house is $190000

# Question 4

In [ ]:
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

When you add booleans, adding False is equivalent to adding 0, and adding True is equivalent to adding 1.

# QUESTION 5
You own an online shop where you sell rings with custom engravings.  You offer both gold plated and solid gold rings.
- Gold plated rings have a base cost of $50, and you charge $7 per engraved unit.  
- Solid gold rings have a base cost of $100, and you charge $10 per engraved unit.
- Spaces and punctuation are counted as engraved units.

# Pseudo code
1. Create a function `cost_of_project(engraving, solid_gold)` that takes the two arguments.
2. Create a variable cost that calculates the `cost` of the gold ring.
3. create other variables `project_one` and `project_two` that calls the function and calculates the total cost.
4. print the output of the two variables above.

In [ ]:
def cost_of_project(engraving, solid_gold):
    cost = solid_gold * (100 + 10 * len(engraving)) + (not solid_gold) * (50 + 7 * len(engraving))
    return cost
project_one = cost_of_project("Charlie+Denver", True)
print(f"The cost of the first project is ${project_one}.")
project_two = cost_of_project("08/10/2000", False)
print(f"The cost of the second project is ${project_two}.")

The cost of the first project is $240.
The cost of the second project is $120.